h1 {
  margin-left: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  color: #F7F8F1;
  font-size: 48px;
  font-family: 'Montserrat Alternates', sans-serif;  
}

html{
  scroll-behavior: smooth;
}

.container {
  display: flex;
  margin: 0 auto; 
}

h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat Alternates', sans-serif;  
  background-color: #F7F8F1;
  font-size: 32px;
  color: #F7F8F1;
  background-size: 100%;
  height: 870px;
  background-repeat: no-repeat;
  background-color: #F7F8F1;
}

li{
  list-style: none;
}

.navbar a {
  text-decoration: none;
  position: relative;
  color: #F7F8F1; 
  cursor: pointer;
  line-height: 1; 
  font-weight: 400;
  font-size: 26px;
  font-family: 'Montserrat Alternates', sans-serif; 
}

.dropdown_menu a {
  text-decoration: none;
  position: relative;
  color: #F7F8F1; 
  cursor: pointer;
  line-height: 1; 
  font-weight: 400;
  font-size: 26px;
}

.navbar a:after {
  display: block;
  position: absolute;
  left: 0; 
  width: 0;
  height: 2px; 
  background-color: #EFC87B;
  content: "";
  transition: width 0.3s ease-out;
}

.dropdown_menu a:after {
  display: block;
  position: absolute;
  left: 0; 
  width: 0;
  height: 2px; 
  background-color: #EFC87B;
  content: "";
  transition: width 0.3s ease-out;
  
}

.navbar a:hover:after,
.navbar a:focus:after{
  width: 100%; 
}

.dropdown_menu a:hover:after,
.dropdown_menu a:focus:after{
  width: 100%; 
}
header{
  width: 100%;
  height: 70px;
  z-index: 1000;
  top: 0;
  font-family: 'Montserrat Alternates', sans-serif;  
  background-image: linear-gradient(
  315deg,
  hwb(35 71% 21%) 0%,
  hsl(44deg 14% 72%) 10%,
  hsl(56deg 11% 70%) 17%,
  hsl(73deg 10% 69%) 22%,
  hsl(91deg 10% 68%) 27%,
  hsl(113deg 9% 67%) 31%,
  hsl(136deg 10% 65%) 35%,
  hsl(151deg 12% 63%) 39%,
  hsl(155deg 13% 63%) 43%,
  hsl(142deg 11% 65%) 46%,
  hsl(121deg 9% 67%) 50%,
  hsl(98deg 10% 68%) 53%,
  hsl(78deg 10% 69%) 57%,
  hsl(61deg 10% 70%) 60%,
  hsl(47deg 13% 72%) 64%,
  hsl(38deg 16% 74%) 67%,
  hsl(41deg 15% 73%) 71%,
  hsl(51deg 12% 71%) 74%,
  hsl(67deg 10% 69%) 78%,
  hsl(85deg 10% 68%) 82%,
  hsl(105deg 9% 67%) 86%,
  hsl(129deg 10% 66%) 90%,
  hsl(147deg 12% 64%) 95%,
  hsl(159deg 13% 62%) 100%
  );
}

.navbar {
  width: 100%;
  height: 70px;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .links {
  display: flex;
  gap: 2rem;
}

.navbar .toggle_btn {
  color: #F7F8F1;
  font-size: 28px;
  cursor: pointer;
  display: none;
}

.action_btn {
  background-color: #EFC87B;
  color: #F7F8F1;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  border-radius: 10px;
  font-size: 28px;
  font-weight: 400px;
  cursor: pointer;
  transition: scale 0.2 ease;
  margin-right: 20px;
}

.action_btn:hover {
  scale: 1.05;
  color: #F7F8F1;
}

.action_btn:active {
  scale: 0.95;
}

.dropdown_menu {
  display: none;
  position: absolute;
  right: 2rem;
  top: 60px;
  height: 0;
  width: 250px;
  background: rgba(145, 171, 162, 0.6);
  backdrop-filter: blur(15px);
  border-radius: 10px;
  overflow: hidden;
  font-family: 'Montserrat Alternates', sans-serif;  
  transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.dropdown_menu.open {
  height: 240px;
}

.dropdown_menu li {
  padding: 0.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdown_menu .action_btn {
  display: flex;
  justify-content: center;
}

.row {
  display: flex;
}

column {
  flex: 50%;
  height: 800px;
}

.rec-one {
  max-width: 650px;
  min-height: 250px;
  background-color: #EFC87B;
  margin-top: 50px;
  margin-left: 30px;
  box-shadow: 0 0 15px 2px rgb(123, 115, 103, 24);
  border-radius: 10px;
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  transform: scale(1);
}

.rec-one:hover{
  transform: scale(1.03);
}

.rec-two {
  max-width: 650px;
  min-height: 250px;
  background-color: #B0C1B6;
  margin-top: 50px;
  margin-left: 30px;
  box-shadow: 0 0 15px 2px rgb(123, 115, 103, 24);
  border-radius: 10px;
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  transform: scale(1);
}

.rec-two:hover{
  transform: scale(1.03);
}
.rec img {
  margin-top: 20px;
  margin-left: 20px;
}

.rec p {
  margin-top: 40px;
  margin-left: 20px;
  font-size: 30px;
}

.rec span{
  margin-left: 10px;
}

.add-inf p, span {
  margin-top: 60px;
  font-size: 26px;
}

h2 {
  margin-left: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  color: #F7F8F1;
  font-size: 30px;
  font-weight: 400;
  font-family: 'Montserrat Alternates', sans-serif;  
}

.col-two {
  width: 500px;
  height: 550px;
  text-align: center;
  margin-top: 50px;
  margin-left: 230px;
  box-shadow: 0 0 15px 2px rgb(123, 115, 103, 24);
  border-radius: 10px;
}

.blocks-catalog{
  max-width: 500px;
  max-height: 500px;
  display: grid;
  place-items: center;
  font-size: 18px;
  overflow-y: scroll;
  white-space: nowrap;
  word-break: break-all;
  color: #F7F8F1;
  font-family: 'Montserrat Alternates', sans-serif;  
}

.ctlblock{
  width: 250px;
  height: 300px;
  background-size: cover;
  margin: 30px;
  text-align: center;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0 0 15px 1px rgb(123, 115, 103, 24);
  transform: scale(1);
}

.ctlblock:hover{
  transform: scale(1.1);
}

.blocks-catalog p{
  margin-top: 30px;
}

.blocks-catalog::-webkit-scrollbar {
  width: 12px;
}

.blocks-catalog::-webkit-scrollbar-track {
  background: #C9C0B3;
  border-radius: 10px;
}

.blocks-catalog::-webkit-scrollbar-thumb {
  background-color: #A89B89;    
  border-radius: 10px;      
  border: 3px solid #C9C0B3;  
}

.footer{
  margin-left: auto;
  margin-right: auto;
  margin-top: 140px;
  color: #F7F8F1;
  width: 100%;
  height: 150px;
  font-size: 24px;
  background-color: #7B7367;
  font-family: 'Montserrat Alternates', sans-serif;  
}

h3{
  font-weight: 400;
  font-size: 48px;
  white-space: nowrap;
  color: #F7F8F1;
  font-family: 'Montserrat Alternates', sans-serif;  
}

.mailto{
  display: flex;
  justify-content: center;
  margin-top: 30px;
  text-decoration: none;
  color: #F7F8F1;
}
