h1 {
    padding-top: 0px;
    padding-left: 30px;
    margin-top: 10px;
    margin-bottom: 0px;
    color: #F39D30;
    font-size: 64px;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Gabarito', cursive;
    color: #000;
    font-size: 32px;
}


h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}

ul,
li {
    display: block;
}

* {
    box-sizing: border-box;
}

form {
    width: 600px;
    height: 85px;
    text-align: left;
    padding-left: 30px;
    margin-top: 0px;
    position: relative;
    display: flex;
    justify-content: left;
}

input,
button {
    border: none;
    outline: none;
    border-radius: 10px;
    font-family: 'Gabarito', cursive;
}

input {
    width: 100%;
    height: 41px;
    background: #DBD7D7;
    padding-left: 20px;
    margin-top: 0px;
}

.container {
    display: flex;
    justify-content: space-between;
}

.search {
    display: flex;
}


.def-btn {
    height: 40px;
    width: 40px;
    border-radius: 10px;
    background: #C0C0C0;
    cursor: pointer;
    margin-right: 30px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profile::before {
    color: #FF8F00;
    font-size: 20px;
    font-weight: bold;
}

.filter {
    color: #FF8F00;
    font-size: 20px;
    font-weight: bold;
}

.rectangle {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.def-cont {
    width: 360px;
    height: 200px;
    background-color: #F9D6AD;
    font-size: 20px;
    font-family: 'Gabarito', cursive;
    border-radius: 10px;
}

.rec {
    margin-bottom: 100px;
}

.subject-name {
    font-size: 18px;
    text-align: left;
    display: flex;
    margin-left: 20px;
}

.price {
    font-size: 18px;
    text-align: left;
    width: auto;
    display: flex;
    margin-top: 80px;
    margin-left: 30px;
}

.button-order {
    height: 40px;
    width: 110px;
    font-size: 18px;
    border-radius: 10px;
    background-color: #DBD7D7;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 10px;
}

.button-order:active {
    background-color: red;
}

.footerweb {
    color: #98938E;
    font-size: 16px;
    width: auto;
    height: 200px;
    background-color: #65626A;
}


@media(max-width: 1440px) {
    .container {
        width: 1440px;
    }
}

@media(max-width: 1200px) {
    .container {
        width: 1170px;
    }
}

@media(max-width: 1199px) {
    .container {
        width: 960px;
    }
}

@media(max-width: 991px) {
    .container {
        width: 720px;
    }
}

@media(max-width: 767px) {
    .container {
        width: 100%;
        padding: 0 15px;
    }
}

@media(max-width: 575px) {
    .container {
        width: 720px;
    }
}
