<section id="main" class="main">
	<div class="container">
		<div class="text-main">
			<p class="left wow animate__animated animate__fadeInLeft">nceAtrium</p>
			<p class="right wow animate__animated animate__fadeInRight">Education</p>
		</div>
		<div class="img-main">
			<img class="keyboard wow animate__animated animate__fadeInUp" src="img/keyboard.png" width="600px">
			<img class="mouse wow animate__animated animate__fadeInDown" src="img/mouse.png" width="150px" height="130px">
		</div>
		<div class="img-title-page">
			<img class="title-page wow animate__animated animate__backInDown" src="img/title-page.png">
		</div>
	</div>
</section>
