<section id="work" class="work">
	<h2 class="wow animate__animated animate__fadeIn">Выполняемые работы</h2>
	<div class="fan-title wow animate__animated animate__fadeInLeft">
		<img class="title-one" src="img/title-page.png" width="350" height="500">
		<img class="title-two" src="img/title-page.png" width="350" height="500">
		<img class="title-three" src="img/title-page.png" width="350" height="500">
		<img class="title-four" src="img/title-page.png" width="350" height="500">
		<img class="title-five" src="img/title-page.png" width="350" height="500">
	</div>

	<div class="blok-work wow animate__animated animate__fadeInRight">
		<div class="lab">
			<img src="img/paper.png">
			<p style="font-weight: 700;">Лабораторная работа</p>
			<p>Выполнение работы по выбранному предмету</p>
			<p>₽ 2000</p>
		</div>
		<div class="diploma">
			<img src="img/diploma.png">
			<p style="font-weight: 700;">Курсовая работа</p>
			<p>Выполнение работы по выбранному предмету</p>
			<p>₽ 20000</p>
		</div>
	</div>
</section>