<section id="guarantees" class="guarantees">
	<h5 class="wow animate__animated animate__fadeIn">Наши гарантии на все работы</h5>
	<div class="block-guarantees wow animate__animated animate__fadeInLeft">
		<div class="calblock">
			<img src="img/calendar.png" width="90" height="90">
			<p style="font-weight: 700;">Гарантия сроков</p>
			<p>Вы получаете работу точно в срок, иначе мы вернем 1% от его стоимости за каждый день просрочки </p>
		</div>
		<div class="warblock">
			<img src="img/warranty.png" width="90" height="90">
			<p style="font-weight: 700;">Гарантия качества</p>
			<p>Вы получите то что вам нужно при хотя бы малейшем контактировании с нами</p>
		</div>
	</div>
	<div class="fan-file wow animate__animated animate__fadeInRight">
		<img class="file-four" src="img/file-4.png" width="350" height="500">
		<img class="file-three" src="img/file-3.png" width="350" height="500">
		<img class="file-two" src="img/file-2.png" width="350" height="500">
		<img class="file-one" src="img/file-1.png" width="350" height="500">
	</div>
</section>
