<section id="stages-of-work" class="stages-of-work">
	<h3 class="wow animate__animated animate__fadeIn">Как проходит работа</h3>
	<div class="blocks-stages">
		<div class="stgblock wow animate__animated animate__fadeInUp">
			<img src="img/envelope.png">
			<p>Вы оформляете заказ</p>
		</div>
		<div class="stgblock wow animate__animated animate__fadeInUp">
			<img src="img/opposite-opinion.png">
			<p>Обсуждение деталей</p>
		</div>
		<div class="stgblock wow animate__animated animate__fadeInUp">
			<img src="img/keyboard-2.png">
			<p>Мы выполняем работу</p>
		</div>
		<div class="stgblock wow animate__animated animate__fadeInUp">
			<img src="img/cardboard-box.png">
			<p>Сдача работы</p>
		</div>
	</div>
</section>
