@page "/"
@rendermode InteractiveServer
@inject IMediator _mediator;
@inject Serilog.ILogger _logger;
@inject NavigationManager _navigationManager;
@inject IReader<Customer> _customerReader;
@inject IMapper _mapper;

<section>
	<div class="rectangle">
		@foreach (var workTemplate in workTemplates)
		{
			<div class="def-cont rec">
				<span class="subject-name">@workTemplate.Title</span>
				<span class="price">@workTemplate.Price</span>
				<button @onclick="async () => await SubmitWorkTemplateAsync(workTemplate)" class="button-order">Добавить</button>
			</div>
		}
	</div>
</section>

@code {
	private readonly List<WorkTemplate> workTemplates = [];
	private Customer currentUser;
	private Order currentOrder;
	protected override async Task OnInitializedAsync()
	{
		await SetCachedCustomerAsync(currentUser);
		var list = await _mediator.Send(new GetWorkTemplateListQuery());
		workTemplates.AddRange(list);
		currentUser = await _mediator.Send(new GetCachedCustomerQuery());
		currentOrder = await GetOrderAsync(currentUser.Id);
	}

	private async Task SubmitWorkTemplateAsync(WorkTemplate workTemplate)
	{
		currentOrder.AddWorkTemplate(workTemplate);
		await MakeOrderAsync(currentOrder, currentUser.Id);
	}

	private async Task SetCachedCustomerAsync(Customer customer)
	{
		if (currentOrder is null || currentOrder.IsEmpty())
			await _mediator.Send(new SetCachedCustomerCommand(await GetCustomerAsync()));
	}

	private async Task<Customer> GetCustomerAsync()
	{
		var results = await _mediator.Send(new GetCustomerListQuery());
		return results.Find(x => x.Id != Guid.Empty) ?? _mapper.Map<Customer>(User.Default);
	}

	private async Task<Order> GetOrderAsync(Guid customerId)
	{
		var order = await _mediator.Send(new GetOrderByCustomerIdQuery(customerId));
		return order ?? new Order(Guid.NewGuid()).UpdateCustomer(_customerReader, currentUser);
	}

	private async Task MakeOrderAsync(Order order, Guid customerId)
	{
		var dbOrder = await _mediator.Send(new GetOrderByCustomerIdQuery(customerId));

		// is not exists
		if (dbOrder.IsEmpty())
		{
			await _mediator.Send(new CreateOrderCommand(order));
			return;
		}

		await _mediator.Send(new UpdateOrderCommand(order));

	}
}