@page "/"
@inject IMediator _mediator;
@inject Serilog.ILogger _logger;

<section>
	<div class="rectangle">
		<form>

		</form>
		@foreach (var workTemplate in workTemplates)
		{
			<div class="def-cont rec">
				<span class="subject-name">@workTemplate.Title</span>
				<span class="price">@workTemplate.Price + @count</span>
				<button @onclick="() => SubmitWorkTemplate()" class="button-order" name="ord1">Заказать</button>
			</div>
		}
	</div>
</section>

@code{
	private int count = 0;
	private readonly List<WorkTemplate> workTemplates = [];
	protected override async Task OnInitializedAsync()
	{
		var list = await _mediator.Send(new GetWorkTemplateListQuery());
		workTemplates.AddRange(list);
	}

	private void SubmitWorkTemplate()
	{
		count++;
	}
}