.container {
  display: flex;
  margin: 0 auto; 
}

h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat Alternates', sans-serif;  
  background-color: #F7F8F1;
  font-size: 32px;
  color: #F7F8F1;
  background-size: 100%;
  max-height: 920px;
  background-repeat: no-repeat;
}

.nav{
  position: fixed;
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 100px;
  line-height: 100px;
  background: linear-gradient(rgba(39, 39, 39, 0.67), transparent);
  z-index: 50000;
  position: absolute;
}
.nav-logo p{
  color: #F7F8F1;
  font-family: 'Montserrat Alternates', sans-serif; 
  font-size: 48px;
  font-weight: 600;
  margin-top: 10px;
  margin-left: 30px;
}
.nav-menu ul{
  display: flex;
  margin-top: 10px;
  font-size: 20px;
  color: #F7F8F1;
  font-family: 'Montserrat Alternates', sans-serif; 
}
.nav-menu ul li{
  list-style-type: none;
}
.nav-menu ul li .link{
  text-decoration: none;
  font-weight: 500;
  color: #F7F8F1;
  font-family: 'Montserrat Alternates', sans-serif;
  padding-bottom: 15px;
  margin: 0 25px;
}
.link:hover, .active{
  border-bottom: 2px solid #F7F8F1;
}
.nav-button .btn{
  width: 130px;
  height: 40px;
  font-size: 16px;
  color: #F7F8F1;
  font-weight: 300;
  background: rgba(247, 248, 241, 0.4);
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: .3s ease;
}
.btn:hover{
  background: rgba(247, 248, 241, 0.3);
}

.nav-menu-btn{
  display: none;
}

.row {
  display: flex;
}

column {
  flex: 50%;
  height: 800px;
}

.rec-one {
  max-width: 650px;
  min-height: 250px;
  background-color: #EFC87B;
  margin-top: 120px;
  margin-left: 30px;
  box-shadow: 0 0 15px 2px rgb(123, 115, 103, 24);
  border-radius: 10px;
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  transform: scale(1);
  word-break: break-all;
}

.rec-one:hover{
  transform: scale(1.03);
}

.rec-two {
  max-width: 650px;
  min-height: 250px;
  background-color: #B0C1B6;
  margin-top: 50px;
  margin-left: 30px;
  box-shadow: 0 0 15px 2px rgb(123, 115, 103, 24);
  border-radius: 10px;
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  transform: scale(1);
  word-break: break-all;
}

.rec-two:hover{
  transform: scale(1.03);
}
.rec img {
  margin-top: 20px;
  margin-left: 20px;
}

.rec p {
  margin-top: 40px;
  margin-left: 20px;
  font-size: 30px;
}

.rec span{
  margin-left: 10px;
}

.add-inf p, span {
  margin-top: 60px;
  font-size: 26px;
}

h1 {
  margin-left: 20px;
  margin-top: 5px;
  margin-bottom: 5px;
  color: #F7F8F1;
  font-size: 30px;
  font-weight: 400;
  font-family: 'Montserrat Alternates', sans-serif;  
}

.col-two {
  width: 500px;
  height: 550px;
  text-align: center;
  margin-top: 120px;
  margin-left: auto;
  margin-right: 30px;
  box-shadow: 0 0 15px 2px rgb(123, 115, 103, 24);
  border-radius: 10px;
}

.catalogblk {
  max-width: 500px;
  max-height: 500px;
  display: grid;
  place-items: center;
  font-size: 18px;
  overflow-y: scroll;
  white-space: nowrap;
  word-break: break-all;
  color: #F7F8F1;
  font-family: 'Montserrat Alternates', sans-serif;  
}

.blockctlg{
  width: 250px;
  height: 300px;
  background-size: cover;
  margin: 30px;
  text-align: center;
  flex-direction: column;
  border-radius: 10px;
  box-shadow: 0 0 15px 1px rgb(123, 115, 103, 24);
  transform: scale(1);
}

.blockctlg:hover{
  transform: scale(1.03);
}

.blockctlg p{
  margin-top: 10px;
}

.blockctlg .st {
  color: #7B7367;
}

.catalogblk::-webkit-scrollbar {
  width: 12px;
}

.catalogblk::-webkit-scrollbar-track {
  background: #C9C0B3;
  border-radius: 10px;
}

.catalogblk::-webkit-scrollbar-thumb {
  background-color: #A89B89;    
  border-radius: 10px;      
  border: 3px solid #C9C0B3;  
}

.footer{
  margin-left: auto;
  margin-right: auto;
  margin-top: 180px;
  color: #F7F8F1;
  width: 100%;
  height: 150px;
  font-size: 24px;
  background-color: #7B7367;
  font-family: 'Montserrat Alternates', sans-serif;  
}

h2{
  text-align: center;
  font-weight: 400;
  font-size: 48px;
  white-space: nowrap;
  color: #F7F8F1;
  font-family: 'Montserrat Alternates', sans-serif;  
}

.mailto{
  display: flex;
  justify-content: center;
  margin-top: 30px;
  text-decoration: none;
  color: #F7F8F1;
}

@media (max-width: 1920px) {
  .nav-logo p {
    font-size: 56px;
  }

  .nav-menu li {
    font-size: 28px;
  }

  .nav-button .btn{
    width: 145px;
    height: 45px;
    font-size: 22px;  
  }

  .rec-one {
    max-width: 800px;
    min-height: 300px;
    margin-top: 150px;
  }
  
  .rec-two {
    max-width: 800px;
    min-height: 300px;
    margin-top: 120px;
  }
 
  .rec img {
    margin-top: 20px;
    margin-left: 20px;
  }
  
  .rec p {
    margin-top: 40px;
    margin-left: 20px;
    font-size: 34px;
  }
  
  .rec span{
    margin-left: 10px;
  }
  
  .add-inf p, span {
    margin-top: 60px;
    font-size: 28px;
  }
  
  h1 {
    font-size: 36px;
    font-weight: 400;
  }
  
  .col-two {
    width: 700px;
    height: 730px;
    margin-top: 150px;
  }
  
  .catalogblk {
    max-width: 690px;
    max-height: 670px;
    font-size: 24px;
  }
  
  .blockctlg{
    width: 350px;
    height: 400px;
  }

  .blockctlg img {
    width: 130px;
    height: 160px;
  }
  
  .blockctlg p{
    margin-top: 25px;
  }
  
  .footer{
    font-size: 30px;
  }
  
  h2{
    text-align: center;
    font-weight: 400;
    font-size: 48px;
  }

  .mailto img {
    width: 33px;
    height: 33px;
  }
}

@media(max-width: 992px) {
  .nav-button{
    display: none;
  }

  .nav-menu.responsive{
    top: 100px;
  }

  .nav-menu{
    position: absolute;
    top: -870px;
    display: flex;
    justify-content: center;
    background: rgba(145, 171, 162, 0.83);
    width: 100%;
    height: 90vh;
    backdrop-filter: blur(900px);
    transition: .3s;
  }

  .nav-menu ul{
    flex-direction: column;
    text-align: center;
    font-size: 34px;
  }

  .nav-menu-btn{
    display: block;
  }

  .nav-menu-btn i{
    font-size: 25px;
    color: #F7F8F1;
    font-family: 'Montserrat Alternates', sans-serif;
    padding: 10px;
    background: rgba(145, 171, 162, 0.57);
    border-radius: 30%;
    cursor: pointer;
    transition: .3s;
  }

  .nav-menu-btn i:hover{
    background: rgba(145, 171, 162, 0.83);
  }

  body {
    overflow-x: hidden;
    height: 800px;
  }

  .rec-one {
    width: 430px;
    height: 150px;
    margin-top: 120px;
    margin-left: 30px;
    word-break: break-all;
  }
  
  .rec-two {
    width: 430px;
    height: 200px;
    margin-top: 40px;
    margin-left: 30px;
  }

  .rec p {
    font-size: 24px;
    margin-left: 10px;
  }

  .rec span {
    font-size: 24px;
    margin-left: 5px;
    }

  .rec img {
    width: 60px;
    height: 60px;
  }

  column {
    height: 500px;
  }

  h1 {
    font-size: 28px;
  }

  .col-two {
    margin-top: 120px;
    width: 350px;
    height: 640px;
  }

  .blockctlg{
    width: 200px;
    height: 250px;
    font-size: 16px;
  }

  .blockctlg p {
    margin-top: 5px;
  }

  .blockctlg img {
    height: 110px;
    width: 80px;
  }

  .catalogblk {
    width: 350px;
    height: 590px;
    margin-right: 20px;
  }

  .footer {
    margin-top: 200px;
  }
  
}

@media(max-width: 576px) {
  .dropdown_menu {
    left: 2rem;
    width: unset;
  }

  .dropdown_menu li {
    margin-left: 130px;
  }

  body {
    overflow-x: hidden;
  }

  body {
    overflow-x: hidden;
    height: 870px;
  }

  .rec-one {
    width: 260px;
    height: 120px;
    margin-top: 120px;
    margin-left: 20px;
  }
  
  .rec-two {
    width: 260px;
    height: 120px;
    margin-top: 40px;
    margin-left: 20px;
  }

  .rec p {
    font-size: 20px;
    margin-left: 10px;
    margin-top: 30px;
  }

  .rec span {
    font-size: 18px;
    margin-left: 5px;
  }

  .rec img {
    width: 50px;
    height: 50px;
  }

  column {
    height: 500px;
  }

  h1 {
    font-size: 24px;
  }

  .col-two {
    margin-top: 120px;
    margin-left: 20px;
    width: 250px;
    height: 640px;
    margin-right: 20px;
  }

  .blockctlg{
    width: 160px;
    height: 200px;
    font-size: 12px;
  }

  .blockctlg:hover{
    transform: scale(1.03);
  }

  .blockctlg p {
    margin-top: 3px;
  }

  .catalogblk {
    width: 210px;
    height: 590px;
    overflow-x: hidden;
  }

  .catalogblk img {
    width: 70px;
    height: 90px;
  }

  .footer {
    margin-top: 210px;
  }

  h2 {
    font-size: 34px;
  }

  .mailto {
    font-size: 26px;
  }

}