@using Microsoft.AspNetCore.Authentication
@using Microsoft.AspNetCore.Authentication.Google
@using ScienceAtrium.Presentation.Components.Account.Shared
@using Microsoft.AspNetCore.Components.Authorization

@inherits LayoutComponentBase
@inject SignInManager<ApplicationUser> SignInManager

<body>
	<header id="header" class="header">

		<div class="container">

			<nav class="nav">
				<div class="nav-logo">
					<p>ScienceAtrium</p>
				</div>
				<div class="nav-menu" id="navMenu">
					<ul>
						<li><NavLink href="home-redirect" class="link">Главная</NavLink></li>
						<li><NavLink href="account-redirect" class="link">Профиль</NavLink></li>
						<li><NavLink href="basket-redirect" class="link">Корзина</NavLink></li>
						<ExecutorAuthorizeView>
							<Authorized>
								<li><NavLink href="executor-panel-redirect" class="link">Панель</NavLink></li>
							</Authorized>
						</ExecutorAuthorizeView>
					</ul>
				</div>

				<AuthorizeView>
					<Authorized>
						<div class="nav-button">
							<SignOutPicker />
						</div>
					</Authorized>
					<NotAuthorized>
						<form class="form-horizontal" action="/home-redirect" method="get">
							<div>
								<div class="nav-button">
									<button type="submit" class="btn btn-primary" name="provider">Войти</button>
								</div>
							</div>
						</form>
					</NotAuthorized>
				</AuthorizeView>
				
			</nav>

		</div>

	</header>

    @Body

	<footer id="footer" class="footer">

		<h3 class="align-content-center">ScienceAtrium</h3>

		<a href="mailto:info.scienceatrium@gmail.com" class="mailto">
			<img src="img/envelope.png" width="25" height="25">
			info.scienceatrium@gmail.com
		</a>

	</footer>
</body>

@code{
	public const string ReturnUrl = "/home-redirect";

	IEnumerable<AuthenticationScheme> _externalSchemes;
	protected override async Task OnInitializedAsync()
	{
		_externalSchemes = await SignInManager.GetExternalAuthenticationSchemesAsync();
	}
}