@inherits LayoutComponentBase

<body>
	<header id="header" class="header">

		<div class="container">

			<div class="navbar">

				<h1>ScienceAtrium</h1>

				<ul class="links">
					<li><a href="profile">Профиль</a></li>
					<li><a href="basket">Корзина</a></li>
					<li><a href="#catalog">Каталог</a></li>
				</ul>

				<a href="signIn" class="action_btn">Войти</a>
				<div class="toggle_btn">
					<i class="fa-solid fa-bars"></i>
				</div>

			</div>

			<div class="dropdown_menu">

				<ul class="links">
					<li><a href="profile">Профиль</a></li>
					<li><a href="basket">Корзина</a></li>
					<li><a href="#catalog">Каталог</a></li>
					<li><a href="signIn" class="action_btn">Войти</a></li>
				</ul>

			</div>
		</div>

	</header>

	<script>
		const toggleBtn = document.querySelector('.toggle_btn')
		const toggleBtnIcon = document.querySelector('.toggle_btn i')
		const dropDownMenu = document.querySelector('.dropdown_menu')


		toggleBtn.onclick = function() {
			dropDownMenu.classList.toggle('open')
			const isOpen = dropDownMenu.classList.constais('open')


			toggleBtnIcon.classList = isOpen
			? 'fa-solid fa-xmark'
			: 'fa-solid fa-bars'
		}
	</script>
    @Body
    <footer id="footer" class="footer">

	<h6 style="text-align: center;">ScienceAtrium</h6>

	<div class="button-collection">

		<div class="check-in">

			<button class="but-check-in"><img src="img/check-in.png">Войти</button>

		</div>

		<div class="check-out">

			<button class="but-check-out"><img src="img/check-out.png">Выйти</button>

		</div>

	</div>

	<a href="mailto:info.scienceatrium@gmail.com" class="mailto"><img src="img/envelope.png" width="25" height="25">
		info.scienceatrium@gmail.com
	</a>

</footer>
</body>