@inherits LayoutComponentBase
@inject NavigationManager _navigationManager;

@{
    const string M1d2B = "M1d2B";
    const string Deemure = "Deemure";
    const string Ferquerro = "Ferquerro";
    string basketRoute = "/basket";
}

<body>
    <header>
        <h1>ScienceAtrium</h1>
        <div class="container">
            <div class="search">
                <form name="from-search">
                    <input type="text" placeholder="Поиск по странице">
                    <button>
                        <img src="img/search.png">
                    </button>
                </form>

                <div>
                    <button>
                        <img src="img/filter.png">
                    </button>
                </div>
            </div>

            <div>
                <button id="shop-btn-redirection">
                    <img src="img/shoppbasket.png">
                </button>
            </div>

            <div>
                <button>
                    <img src="img/profile.png">
                </button>
            </div>

        </div>
    </header>
    @Body
    <footer id="footer" class="footer">
        <div class="footerweb">
            <div>@DateTime.Now.Year Команда ХС: @M1d2B, @Deemure, @Ferquerro. </div>
        </div>
    </footer>
</body>