
<form class="form-horizontal" action="Account/Logout" method="post">
	<div>
		<input type="hidden" name="ReturnUrl" value="home-redirect" />
		<div class="nav-button">
			<button type="submit" class="btn btn-primary" name="provider">Выйти</button>
		</div>
	</div>
</form>

@code {

}
