
<form class="form-horizontal" action="/logout" method="post">
	<div>
		<div class="nav-button">
			<button type="submit" class="btn btn-primary" name="provider">Выйти</button>
		</div>
	</div>
</form>
